.ticket-holder {
  tbody {
    tr {
      &:hover {
        background-color: lighten(#80bef0, 20);
      }
    }
  }
}

.title {
  text-transform: capitalize;
}

.single.ticket {
  max-width: 600px;
  margin: auto;
}

// h4 {
//   margin-left: 2.8%
// }

h4#resident {
  margin: 20px;
}
